# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [270]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [271]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [272]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [273]:
# Combine the data into a single dataset
complete_school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [274]:
# Calculate the total number of schools
school_count = complete_school_data_df['school_name'].nunique()
school_count

15

In [275]:
# Calculate the total number of students
student_count = complete_school_data_df['student_name'].count()
student_count

39170

In [276]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [277]:
# Calculate the average math score
avg_math_score = complete_school_data_df['math_score'].mean()
avg_math_score

78.98537145774827

In [278]:
# Calculate the average reading score
avg_reading_score = complete_school_data_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [279]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_avg_score = (avg_math_score + avg_reading_score)/2
overall_avg_score

80.43160582078121

In [280]:
# Calculate the percentage of students with a passing math score (70 or greater)
# PMC = Passing Math Count; PMP = Passing Math Percentage
PMC = complete_school_data_df[(complete_school_data_df["math_score"] >= 70)].count()["student_name"]
PMP = PMC / float(student_count) * 100
PMP

74.9808526933878

In [281]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# PRC = Passing Reading Count; PRP = Passing Reading Percentage
PRC = complete_school_data_df[(complete_school_data_df["reading_score"] >= 70)].count()["student_name"]
PRP = PRC / float(student_count) * 100
PRP

85.80546336482001

In [282]:
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget], "Average Math Score": [avg_math_score], "Average Reading Score": [avg_reading_score], "% of Math Score above 70": [PMP], "% of Reading Score above 70": [PRP], "Overall Average Score": [overall_avg_score]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% of Math Score above 70,% of Reading Score above 70,Overall Average Score
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [283]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)

schools = complete_school_data_df.set_index("school_name").groupby(['school_name'])
schools

In [284]:
# create a table of school type
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [285]:
# Total Students in Each School
students_per_school = school_data.set_index('school_name')['size']
students_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [286]:
# Total School Budget
total_school_budget = school_data.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [287]:
# Per Student Budget
budget_per_student = school_data.set_index('school_name')['budget'] / school_data.set_index('school_name')['size']
budget_per_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [288]:
# Average Math Score of each school
avg_score_math = schools['math_score'].mean()
avg_score_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [289]:
# Average Reading Score of each school
avg_score_reading = schools['reading_score'].mean()
avg_score_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [290]:
# Percentage Passing Math of each school
# pmc_school = Passing Math Count per school; pmp_school = Passing Math Percentage per school
pmc_school = complete_school_data_df[complete_school_data_df['math_score'] >= 70].groupby('school_name')['Student ID'].count() / students_per_school
pmp_school = pmc_school * 100
pmp_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [291]:
# Percentage Passing Reading Score of each school
# prc_school = Passing Reading Count/School; prp_school = Passing Reading Percentage/School
prc_school = complete_school_data_df[complete_school_data_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / students_per_school
prp_school = prc_school * 100
prp_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [292]:
# Overall Passing Rate (Average of the above two
# opr_school = Overall Passing Rate per school
# opr_school = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school')['Student ID'].count()/stu_per_sch 
opr_school = (pmp_school + prp_school) / 2
opr_school

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [293]:
school_summary = pd.DataFrame({
    "School Type": school_type, 
    "Students per School": students_per_school, 
    "Total School Budget": total_school_budget, 
    "Budget Per Student": budget_per_student, 
    "Average Math Score": avg_score_math, 
    "Average Reading Score": avg_score_reading, 
    "% of Math Score above 70 per school": pmp_school, 
    "% of Reading Score above 70 per School": prp_school, 
    "Overall Passing Rate per School": opr_school
})

school_summary.head()

,School Type,Students per School,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Math Score above 70 per school,% of Reading Score above 70 per School,Overall Passing Rate per School
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [294]:
# "Overall Passing Rate per School"
top_schools_OPR = school_summary.sort_values("Overall Passing Rate per School",ascending=False)
top_schools_OPR.head(5)

,School Type,Students per School,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Math Score above 70 per school,% of Reading Score above 70 per School,Overall Passing Rate per School
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [295]:
# Sort and display the five worst-performing schools
worst_performing_schools = school_summary.sort_values("Overall Passing Rate per School")
worst_performing_schools.head(5)

,School Type,Students per School,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% of Math Score above 70 per school,% of Reading Score above 70 per School,Overall Passing Rate per School
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [296]:
ninth_math_score = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math_score = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math_score = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math_score = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()
math_scores_per_grade = pd.DataFrame({
    "9th": ninth_math_score,
    "10th": tenth_math_score,
    "11th": eleventh_math_score,
    "12th": twelfth_math_score
})
math_scores_per_grade = math_scores_per_grade[['9th', '10th', '11th', '12th']]
math_scores_per_grade.index.name = "School"
math_scores_per_grade.head()

                            9th       10th       11th       12th
School
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [297]:
ninth_reading_score = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading_score = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading_score = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading_score = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()
reading_scores_per_grade = pd.DataFrame({
    "9th": ninth_reading_score,
    "10th": tenth_reading_score,
    "11th": eleventh_reading_score,
    "12th": twelfth_reading_score
})
reading_scores_per_grade = reading_scores_per_grade[['9th', '10th', '11th', '12th']]
reading_scores_per_grade.index.name = "School"
reading_scores_per_grade.head()

                            9th       10th       11th       12th
School
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [298]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615.999, 645.9999, 675]
group_names = ["<$585", "$585-615", "$616-645", ">$645"]
complete_school_data_df['spending_bins'] = pd.cut(complete_school_data_df['budget'] / complete_school_data_df['size'], spending_bins, labels = group_names)


spending_range = complete_school_data_df.groupby('spending_bins')


average_math_score = spending_range['math_score'].mean()
average_reading_score = spending_range['reading_score'].mean()
average_passing_math = complete_school_data_df[complete_school_data_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count() / spending_range['Student ID'].count()
percentage_passing_math = average_passing_math * 100
average_passing_reading = complete_school_data_df[complete_school_data_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count() / spending_range['Student ID'].count()
percentage_passing_reading = average_passing_reading * 100
overall_passing_rate = (percentage_passing_math + percentage_passing_reading) / 2

spending_range_scores = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% of Passing Math": percentage_passing_math,
    "% of Passing Reading": percentage_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})
spending_range_scores.index.name = "Spending Ranges(Per Student)"
spending_range_scores

,Average Math Score,Average Reading Score,% of Passing Math,% of Passing Reading,Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,95.194724
$585-615,83.529196,83.838414,94.124128,95.886889,95.005509
$616-645,78.061635,81.434088,71.400428,83.614770,77.507599
>$645,77.049297,81.005604,66.230813,81.109397,73.670105

## Scores by School Size

* Perform the same operations as above, based on school size.

In [299]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 1999.999, 5000]
group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (>2000)"]

complete_school_data_df['size_bins'] = pd.cut(complete_school_data_df['size'], size_bins, labels = group_names)

size_range = complete_school_data_df.groupby('size_bins')

# Calculate 
average_math_score = size_range['math_score'].mean()
average_reading_score = size_range['reading_score'].mean()
average_passing_math = complete_school_data_df[complete_school_data_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count() / size_range['Student ID'].count()
percentage_passing_math = average_passing_math * 100
average_passing_reading = complete_school_data_df[complete_school_data_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count() / size_range['Student ID'].count()
percentage_passing_reading = average_passing_reading * 100
overall_passing_rate = (average_passing_math + average_passing_reading) / 2

size_range_scores = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% of Passing Math": percentage_passing_math,
    "% of Passing Reading": percentage_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})
size_range_scores.index.name = "School Size"
size_range_scores.head()

,Average Math Score,Average Reading Score,% of Passing Math,% of Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,0.949964
Medium (1000-1999),83.372682,83.867989,93.616522,96.773058,0.951948
Large (>2000),77.477597,81.198674,68.652380,82.125158,0.753888

## Scores by School Type

* Perform the same operations as above, based on school type.

In [300]:
school_type = complete_school_data_df.groupby('type')

# Calculate 
average_math_score = school_type['math_score'].mean()
average_reading_score = school_type['reading_score'].mean()
average_passing_math = complete_school_data_df[complete_school_data_df['math_score'] >= 70].groupby('type')['Student ID'].count() / school_type['Student ID'].count()
percentage_passing_math = average_passing_math * 100
average_passing_reading = complete_school_data_df[complete_school_data_df['reading_score'] >= 70].groupby('type')['Student ID'].count() / school_type['Student ID'].count()
percentage_passing_reading = average_passing_reading * 100
OPR = (percentage_passing_math + percentage_passing_reading) / 2

school_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% of Passing Math": percentage_passing_math,
    "% of Passing Reading": percentage_passing_reading,
    "Overall Passing Rate": OPR
})
school_type.index.name = "School Type"
school_type

,Average Math Score,Average Reading Score,% of Passing Math,% of Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818